*{
  padding: 0;
  margin: 0;
}
.design-1{
    color: #FF9E01;
  }
.Newcontact-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #FFffff;
  font-family: "Jersey 20", "Poppins", sans-serif;
}
.contact-left{
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 3em 5em;
  text-align: left;
  flex-wrap: wrap;
}
.contact-left h1{
  color: #04045E;
  font-size: clamp(3em,5vw,5em);
  margin-bottom: 0.4em;
}
.contact-left p{
  margin: 1em 0;
  font-size:clamp(0.7em ,1.3vw ,1.2em);
  
}
.contact-left img{
  width: 1.5em;  
}

.contact-link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0.2em 0;
  text-align: center;
}

.contact-link a{
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  font-size:clamp(0.9em , 1.5vw , 1.5em);
}
hr{
  margin: 1em 0;
  width: 100%;
}


.contact-paragraph-container{
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-shrink: 1;
  padding: 1em;
  box-sizing: border-box;
  min-width: 150px;
}
.contact-paragraph-container p{
  font-size:clamp(0.5em ,1.3vw ,1.2em);
  color: #04045E;
}

/*RIGHT SIDE*/
.contact-right{
  display: flex;
  background-color: #f7f7f7;
  width: 70%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contact-right-formbox{
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 70%;
  box-sizing: border-box;
  padding: 3em;
  flex-shrink: 1;
  box-shadow: 0em 0em 90em -5em black;
}

.contact-right-formbox input{
  width: 20em;
  padding: 0.5em;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #04045E;
  outline: 0;
  margin: 0.7em 0;
}
.contact-right-formbox textarea{
  width: 100%;
  height: 70%;
  outline: none;
  border: 1px solid #04045E;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 0.5em;
  background-color: transparent;
  resize: none;
}
.contact-submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 20%;
}
.contact-submit-button button{
  width: 30%;
  height: 70%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #04045E;
  color: #04045E;
  background-color: transparent;
}
.contact-submit-button button:hover{
  border: 1px solid #FF9E01;
  color: #FF9E01;
}



