:root{
    --green:#93F297;
    --primary-color:#FFFFFF;
    --secondary-color:#E6E6E6;
    --blue:#04045E;
    --Main-font:"Inter", sans-serif;
}


aside{
 display: block;
 height: 100%;
 width: auto;
 background-color: transparent;
 border-right: 2px solid gray;
 border-radius: 2em;

}

.nav-header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    background-color: transparent;
    margin-bottom: 4em;
    font-family: var(--Main-font);
}
.nav-header-logo img{
  width: 4em;
  height: 4em;
}

.list-container ul li {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    background-color: transparent;
    position: relative;
    outline: none;
    font-family: var(--Main-font);
}
.list-container ul li::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 0px;
    background-color: #04045E;
    right: -1px;
    transition: width 0.1s ease; 
}

.list-container ul li:hover::after {
    width: 3px; 
    background-color: #04045E; 
}
 
.list-container ul li:hover .nav-icon{
  color: #04045E;
}

.nav-icon{
    color: gray;
    width: 2em;
    height: 2em;
    transition: color 0.5s ease-in-out;
}

.tooltip{
    visibility: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    opacity:0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: #f7f7f7;
    transition: all 0.5s ease-in-out;
    font-family: var(--Main-font);
    z-index: 50;
}

.list-container ul li:hover .tooltip{
    visibility: visible;
    opacity: 1;
    right: -90px;;
}

