

:root{
    --Main-font:"Inter", sans-serif;
}


.Uploadarea-content{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    font-family: var(--Main-font);
}
.Uploadarea-header{
    background-color: #ffffff;
    width: 100%;
    font-family: var(--Main-font);
}
.Uploadarea-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    
}
.Uploadarea-body-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgb(184, 184, 184);
    font-family: "Inter", sans-serif;
    border-radius: 10px;
}
hr{
    background-color: lightgray;
}
h1{
    margin-left: 1em;
}
.Uploadarea-search{
    background-color: transparent;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.5em;
    opacity: 0.5;
    justify-content: space-between;
   
}

.Uploadarea-search input{
    width: 30%;
    height: 1.8em;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    padding: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
}
.add-button{
    height: 100%;
    color: darkslategray;
    min-width: 2em;
    width: 3%;
}
.add-button:hover{
    color: #04045E;
}
.search-button{
    height: 100%;
    color: darkslategray;
    min-width: 2em;
    width: 3%;
}


.Uploadarea-data-area{
    width: 97%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1em;
    font-family: var(--Main-font);
    
}

.uploadModal-box{
    background-color: #ffffff;
    height: 80%;
    width: 32%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid gray;
    font-family: var(--Main-font);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(211, 211, 211);
    flex-wrap: wrap;
}
.uploadModal{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 177, 177, 0.564);
    transition: all 1s ease-in;


    
}

.uploadModal-box-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    font-size: clamp(0.5em , 2vw , 2.3em);
    margin: 1em 0;
}

.Document-title-input{
    width: 100%;
    height: 40%;
    max-height: 2.7em;
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5em;
    margin-bottom: 1em;

}

.upload-exit-button{
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.upload-exit-button:hover{
    color: red;
}

.Document-upload-box{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 15%;
    margin: 1em 0;
    border: 1px dashed #04045E;
    border-radius: 10px;
    color: #04045E;
    font-size: clamp(0.6em ,1.3vw,1em);
    transition: opacity 0.1s ease-in;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: clamp(0.6em, 1.3vw, 0.8em);
    cursor: pointer;
}
.Document-upload-box:hover{
    opacity: 0.5;
}

.Files{
    display: none;
    background-color: transparent;
    width: 98%;
    height: 6em;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0.5em;
}

.upload-button{
    justify-self: center;
    align-items: center;
    width: 50%;
    height: 100%;
    max-height: 30px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    justify-items: center;
    align-self: center;
    cursor: pointer;
}
.uploadButton-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color:transparent;
    margin-top: 1em;
    
}
.search-content{
    display: flex;
    align-items: center;
    width: 100%;
}

.uploaded-file-container{
    width: 20%;
    height: 150px;
    min-width: 120px;
    min-height: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.95em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.04);
}
.uploaded-file-container:hover{
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Uploadarea-body-header{
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 0;
        min-width: 100px;;
        font-size: 0.8em;
        text-align: center;
        padding: 1em 0.5em;
    }
    .Uploadarea-search input{
        width: 100%;
    }
    .uploadModal-box{
        width: 60%;
        height: 60%;
    }
    .uploaded-file-container{
        width: 90%;
        height: auto;
        min-height: 50px;
    }
    
}
